<%- include("partials/header") %>

<div class="container justify-content-center text-align-center">
    <h1 class="jumbotron">Add your team to the league</h1>

    <div class="containter justify-content-center">
        <form action="/teams" method="POST">
            <input type="text" id="name" name="name" placeholder="Team Name">
            <br><input type="text" id="slogan" name="slogan" placeholder="Team Slogan">
            <br><input type="submit" class="btn btn-primary">
        </form>
        <br><a href="/teams" class="btn btn-secondary">Back to Teams</a>

    </div>

</div>


<%- include("partials/footer") %>