<%- include("partials/header") %>

<div class="container">
    <h1 class="jumbotron">Welcome to your Fantasy GBBO League!</h1>

    <div class="container">
        <h3>Here are the teams</h3>

        <div class="row justify-content-center align-items-center">
            <% teamList.forEach(function(team) { %>
                <div class="col-2">
                    <p><%= team.name%></p>
                </div>
                <% Object.keys(team.epScores).forEach(function(ep) { %>
                    <div class="col-1 text-align-center">
                        <p><%= team.epScores[ep]%></p>
                    </div>
                <% }); %>
            <% }); %>
        </div>
        
        <a type="button" class="btn btn-primary" href="/add-team">Add my team</a>
        <br><a type="button" class="btn btn-secondary" href="/bakers">Meet the bakers</a>


    </div>
    

</div>


<%- include("partials/footer") %>