body {
    background-color: rgb(219, 212, 245);
}

.jumbotron {
    background-color: rgb(149, 224, 224);
}

.row {
    margin: 25px auto;
}

#teamForm {
    width: 60%;
}

.btn {
    margin: 5px auto;
}

p {
    font-size: 2em;
}

.tooltip-inner {
    font-size: 25px;
    color: rgb(194, 181, 66);
}