body {
    background-color: rgb(219, 212, 245);
}

.jumbotron {
    background-color: rgb(149, 224, 224);
}

.row {
    margin: 25px auto;
}

#teamForm {
    width: 60%;
}

p {
    font-size: 2em;
}

.tooltip-inner {
    font-size: 25px;
    color: rgb(194, 181, 66);
}

.navButton {
    height: 100%;
    border-radius: 0%;
    border: none;
}

#navbar {
    padding: 0px;
    width: 100%;
}

.navbar-brand {
    padding: 0px 15px;
}

#roster-col {
    border: 2px solid cyan;
}