body {
    background-color: rgb(219, 212, 245);
}

.jumbotron {
    background-color: rgb(149, 224, 224);
}

.row {
    margin: 25px auto;
}

#teamForm {
    width: 60%;
}

#roster-col {
    border: 2px solid cyan;
}

#baker {
    padding: 10px;
}

#bio {
    margin-bottom: 30px;
}

.scoreboard {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

#submit {
  color: rgb(10, 180, 61);
  text-align: center;
}

.total {
  font-weight: 700;
}

#spreadsheet {
  margin: 25px auto;
}